<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alfa_Romeo_Garage.Properties.Settings.connexionBD"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\DB\HEL.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>